In [1]:
import json
import pandas as pd

In [2]:
data = []
with open('.\\데이터\\Yelp\\item.json', 'r', encoding='UTF-8') as f:
    for line in f:
        data.append(json.loads(line))
item = pd.DataFrame(data)

In [3]:
category_set = set()
for index, value in item.iterrows():
    if value['categories'] is not None:
        category_set.update(value['categories'].split(','))

In [4]:
data = []
with open('.\\데이터\\Yelp\\user.json', 'r', encoding='UTF-8') as f:
    for line in f:
        data.append(json.loads(line))
user = pd.DataFrame(data)

In [5]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1220,2005-03-14 20:26:35,15038,10030,11291,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,163,190,361,147,1212,5691,2541,2541,815,323
1,dIIKEfOgo0KqUfGQvGikPg,Gabi,2136,2007-08-10 19:01:51,21272,10289,18046,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2...","XPzYf9_mwG2eXYP2BAGSTA, 2LooM5dcIk2o01nftYdPIg...",1025,...,87,94,232,96,1187,3293,2205,2205,472,294
2,D6ErcUnFALnCQN4b1W_TlA,Jason,119,2007-02-07 15:47:53,188,128,130,"2010,2011","GfB6sC4NJQvSI2ewbQrDNA, jhZtzZNNZJOU2YSZ6jPlXQ...",16,...,1,3,0,0,5,20,31,31,3,1
3,JnPIjvC0cmooNDfsa9BmXg,Kat,987,2009-02-09 16:14:29,7234,4722,4035,"2009,2010,2011,2012,2013,2014","HQZPQhKMwRAyS6BCselVWQ, kP2U1s_sjQfHO9grxiyDTA...",420,...,129,93,219,90,1120,4510,1566,1566,391,326
4,37Hc8hr3cw0iHLoPzLK6Ow,Christine,495,2008-03-03 04:57:05,1577,727,1124,"2009,2010,2011","-Q88pZUcrfN0BLBDp-bkAQ, etPn4Pv1Gc4cRZjRgB_BOw...",47,...,19,32,16,15,77,131,310,310,98,44

In [48]:
user[user['user_id']=='q_QQ5kBBwlCcbL1s4NVK3g']['friends']

0    xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...
Name: friends, dtype: object

In [50]:
user[user['user_id']=='xBDpTUbai0DXrvxCe3X16Q']

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
463996,xBDpTUbai0DXrvxCe3X16Q,Karina,169,2010-02-28 00:35:21,223,33,65,"2014,2015,2016","3pTkcBjNAiPFLIbyprPKgQ, q_QQ5kBBwlCcbL1s4NVK3g...",18,...,0,1,0,0,2,15,10,10,3,2