In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
import torch
from tqdm import tqdm
import re
import pickle
from ast import literal_eval
import json
import sys
from sklearn.cluster import AgglomerativeClustering

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path='/content/drive/MyDrive/종설/'

In [ ]:
net_E82=pd.read_csv(path+"network_E82.txt",header=None)
net_E91=pd.read_csv(path+"network_E91.txt",header=None)

In [ ]:
net_E82.columns=['user_idx']
net_E82['linked']=pd.Series()

for i in tqdm(range(len(net_E82))):
  net_E82.loc[i,'linked']=" ".join(net_E82.loc[i,'user_idx'].split(' ')[1:])
  net_E82.loc[i,'user_idx']=net_E82.loc[i,'user_idx'].split(' ')[0]
  
net_E82.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

100%|██████████| 4899/4899 [00:02<00:00, 2447.26it/s]

  user_idx                                             linked
0        2                                   2063 13855 15493
1        6  144 161 176 364 375 429 575 588 651 678 680 68...
2        8                                              14394
3       12                                  10660 11785 15277
4       14  155 960 1683 1837 3303 3346 3444 3794 3840 449...

In [ ]:
net_E82['user_idx']=net_E82['user_idx'].astype('int')

In [ ]:
link_vector_E82=pd.DataFrame(index=net_E82['user_idx'],columns=net_E82['user_idx'])
link_vector_E82=link_vector_E82.fillna(0)

In [ ]:
for i in tqdm(link_vector_E82.index):
  a = list(map(int,net_E82.loc[net_E82['user_idx']==i,"linked"].str.split(' ').values[0]))
  for j in range(len(a)):
    link_vector_E82.loc[i,a[j]]=1

100%|██████████| 4899/4899 [00:08<00:00, 598.06it/s]

In [ ]:
link_vector_E82.to_csv(path+"link_vector_E82.txt",index=True,header=True)

In [ ]:
agg_g4 = AgglomerativeClustering(n_clusters=4)

In [ ]:
cluster_predict_E82=agg_g4.fit_predict(link_vector_E82)

In [ ]:
pd.Series(cluster_predict_E82).value_counts()

2    4339
3     413
1     145
0       2
dtype: int64

In [ ]:
link_vector_E82['group']=cluster_predict_E82

In [ ]:
s_E82=pd.DataFrame(index=link_vector_E82.index,columns=range(1))
s_E82.columns=['grouped_user']

for i in tqdm(s_E82.index):
  li=[]
  for j in s_E82.index:
    if (link_vector_E82.loc[i,'group']==link_vector_E82.loc[j,'group']) & (i != j):
      li.append(j)
  s_E82.loc[i,'grouped_user']=li
  s_E82.loc[i,'grouped_user']=" ".join(list(map(str,s_E82.loc[i,'grouped_user'])))

100%|██████████| 4899/4899 [08:13<00:00,  9.92it/s]

In [ ]:
s_E82['user']=s_E82.index

for i in tqdm(s_E82.index):
  s_E82.loc[i,'grouped_user']=str(s_E82.loc[i,'user'])+" "+s_E82.loc[i,'grouped_user']

100%|██████████| 4899/4899 [00:04<00:00, 1152.81it/s]

In [ ]:
s_E82=s_E82.drop('user',axis=1)
s_E82

                                               grouped_user
user_idx
2         2 8 12 14 21 29 32 34 41 43 44 52 53 55 57 59 ...
6         6 46 103 144 149 155 159 202 238 308 361 364 3...
8         8 2 12 14 21 29 32 34 41 43 44 52 53 55 57 59 ...
12        12 2 8 14 21 29 32 34 41 43 44 52 53 55 57 59 ...
14        14 2 8 12 21 29 32 34 41 43 44 52 53 55 57 59 ...
...                                                     ...
16595     16595 2 8 12 14 21 29 32 34 41 43 44 52 53 55 ...
16612     16612 2 8 12 14 21 29 32 34 41 43 44 52 53 55 ...
16613     16613 2 8 12 14 21 29 32 34 41 43 44 52 53 55 ...
16614     16614 2 8 12 14 21 29 32 34 41 43 44 52 53 55 ...
16621     16621 2 8 12 14 21 29 32 34 41 43 44 52 53 55 ...

[4899 rows x 1 columns]

In [ ]:
s_E82.to_csv(path+"S_E82_group4.txt",index=False,header=None)

In [ ]:
net_E91.columns=['user_idx']
net_E91['linked']=pd.Series()

for i in tqdm(range(len(net_E91))):
  net_E91.loc[i,'linked']=" ".join(net_E91.loc[i,'user_idx'].split(' ')[1:])
  net_E91.loc[i,'user_idx']=net_E91.loc[i,'user_idx'].split(' ')[0]
  
net_E91.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

100%|██████████| 5898/5898 [00:02<00:00, 2212.29it/s]

  user_idx                                             linked
0        1  556 1212 1773 3316 3964 7726 8183 9205 15715 1...
1        3                                   2747 19095 21454
2        7  215 237 252 475 488 556 750 768 799 841 886 89...
3        9                                              19863
4       11                                               9471

In [ ]:
net_E91['user_idx']=net_E91['user_idx'].astype('int')

In [ ]:
link_vector_E91=pd.DataFrame(index=net_E91['user_idx'],columns=net_E91['user_idx'])
link_vector_E91=link_vector_E91.fillna(0)

In [ ]:
for i in tqdm(link_vector_E91.index):
  a = list(map(int,net_E91.loc[net_E91['user_idx']==i,"linked"].str.split(' ').values[0]))
  for j in range(len(a)):
    link_vector_E91.loc[i,a[j]]=1

100%|██████████| 5898/5898 [00:10<00:00, 569.96it/s]

In [ ]:
link_vector_E91.to_csv(path+"link_vector_E91.txt",index=True,header=True)

In [ ]:
cluster_predict_E91=agg_g4.fit_predict(link_vector_E91)

In [ ]:
pd.Series(cluster_predict_E91).value_counts()

3    5154
1     532
2     197
0      15
dtype: int64

In [ ]:
link_vector_E91['group']=cluster_predict_E91
link_vector_E91['group'].value_counts()

3    5154
1     532
2     197
0      15
Name: group, dtype: int64

In [ ]:
s_E91=pd.DataFrame(index=link_vector_E91.index,columns=range(1))
s_E91.columns=['grouped_user']

for i in tqdm(s_E91.index):
  li=[]
  for j in s_E91.index:
    if (link_vector_E91.loc[i,'group']==link_vector_E91.loc[j,'group']) & (i != j):
      li.append(j)
  s_E91.loc[i,'grouped_user']=li
  s_E91.loc[i,'grouped_user']=" ".join(list(map(str,s_E91.loc[i,'grouped_user'])))

100%|██████████| 5898/5898 [11:56<00:00,  8.23it/s]

In [ ]:
s_E91['user']=s_E91.index

for i in tqdm(s_E91.index):
  s_E91.loc[i,'grouped_user']=str(s_E91.loc[i,'user'])+" "+s_E91.loc[i,'grouped_user']

100%|██████████| 5898/5898 [00:05<00:00, 1027.57it/s]

In [ ]:
s_E91=s_E91.drop('user',axis=1)
s_E91

                                               grouped_user
user_idx
1         1 3 9 11 15 18 25 33 36 39 48 50 51 54 65 66 6...
3         3 1 9 11 15 18 25 33 36 39 48 50 51 54 65 66 6...
7         7 87 141 215 221 229 235 281 324 364 403 471 4...
9         9 1 3 11 15 18 25 33 36 39 48 50 51 54 65 66 6...
11        11 1 3 9 15 18 25 33 36 39 48 50 51 54 65 66 6...
...                                                     ...
23060     23060 1 3 9 11 15 18 25 33 36 39 48 50 51 54 6...
23062     23062 1 3 9 11 15 18 25 33 36 39 48 50 51 54 6...
23065     23065 1 3 9 11 15 18 25 33 36 39 48 50 51 54 6...
23070     23070 1 3 9 11 15 18 25 33 36 39 48 50 51 54 6...
23077     23077 1 3 9 11 15 18 25 33 36 39 48 50 51 54 6...

[5898 rows x 1 columns]

In [ ]:
s_E91.to_csv(path+"S_E91_group4.txt",index=False,header=None)