In [1]:
import json 
import pandas as pd
import json

In [56]:
data = []d
with open('..\\데이터\\Yelp\\item.json', 'r', encoding='UTF-8') as f:
    for line in f:
        data.append(json.loads(linadffdsd

FileNotFoundError: [Errno 2] No such file or directory: '..\\데이터\\Yelp\\item.json'

In [3]:
data = []
with open('../데이터/Yelp/review.json', 'r', encoding='UTF-8') as f:
    for line in f:
        data.append(json.loads(line))
review = pd.DataFrame(data)

In [4]:
data = []
with open('..\\데이터\\Yelp\\user.json', 'r', encoding='UTF-8') as f:
    for line in f:
        data.append(json.loads(line))
user = pd.DataFrame(data)

In [5]:
item.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."

In [6]:
review.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06

In [7]:
user.head(3)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1220,2005-03-14 20:26:35,15038,10030,11291,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,163,190,361,147,1212,5691,2541,2541,815,323
1,dIIKEfOgo0KqUfGQvGikPg,Gabi,2136,2007-08-10 19:01:51,21272,10289,18046,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2...","XPzYf9_mwG2eXYP2BAGSTA, 2LooM5dcIk2o01nftYdPIg...",1025,...,87,94,232,96,1187,3293,2205,2205,472,294
2,D6ErcUnFALnCQN4b1W_TlA,Jason,119,2007-02-07 15:47:53,188,128,130,"2010,2011","GfB6sC4NJQvSI2ewbQrDNA, jhZtzZNNZJOU2YSZ6jPlXQ...",16,...,1,3,0,0,5,20,31,31,3,1

In [3]:
unique_user = user['user_id'].unique()
unique_item = item['business_id'].unique()

NameError: name 'user' is not defined

In [9]:
map_user_list = []
for index, user in enumerate(unique_user):
    map_user_list.append([user, index])
map_item_list = []
for index, item in enumerate(unique_item):
    map_item_list.append([item, index])

In [10]:
map_user_df = pd.DataFrame(map_user_list, columns=['org_id', 'remap_id'])
map_item_df = pd.DataFrame(map_item_list, columns = ['org_id', 'remap_id'])
map_user_df.to_csv('./Yelp/user_list.txt', sep='\t', header=True, index=False)
map_item_df.to_csv('./Yelp/item_list.txt', sep='\t', header=True, index=False)

In [16]:
map_item_df[map_item_df['']]

                  orgi_id  remap_id
0  6iYb2HFDywm3zjuRg0shjw         0
1  tCbdrRPZA0oiIYSmHG3J0w         1
2  bvN78flM8NLprQ1a1y5dRg         2
3  oaepsyvc0J17qwi8cfrOWg         3
4  PE9uqAjdw0E4-8mjGl3wVA         4

In [17]:
map_user_dict = dict(zip(map_user_df['org_id'], map_user_df['remap_id']))
map_item_dict = dict(zip(map_item_df['orgi_id'], map_item_df['remap_id']))

In [34]:
with open('./Yelp/map_user_dict.pickle', 'wb') as f:
    pickle.dump(map_user_dict, f)
with open('./Yelp/map_item_dict.pickle', 'wb') as f:
    pickle.dump(map_item_dict, f)

In [18]:
review_reconstruct = review[['user_id','business_id', 'stars']]
review_reconstruct['user_id'] = review_reconstruct['user_id'].map(lambda x: map_user_dict[x])
review_reconstruct['business_id'] = review_reconstruct['business_id'].map(lambda x:map_item_dict[x])

<ipython-input-18-b15237444e15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_reconstruct['user_id'] = review_reconstruct['user_id'].map(lambda x: map_user_dict[x])
<ipython-input-18-b15237444e15>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review_reconstruct['business_id'] = review_reconstruct['business_id'].map(lambda x:map_item_dict[x])

In [42]:
import numpy as np
review_reconstruct = np.asarray(review_reconstruct, dtype = np.int32)

In [52]:
review_reconstruct[:,0:5]

array([[  92669,    2999,       4],
       [ 102147,   15199,       4],
       [ 111064,    3741,       5],
       ...,
       [  59149,  156684,       5],
       [2143987,  154276,       2],
       [  95049,  152231,       5]])

In [51]:
print("User의 수 : ", len(np.unique(review_reconstruct[:,0])))
print("item의 수 : ", len(np.unique(review_reconstruct[:,1])))
print("interaction 의 수: ",len(review_reconstruct))

User의 수 :  2189457
item의 수 :  160585
interaction 의 수:  8635403

In [39]:
import pickle 
with open('./Yelp/review_reconstruct.pickle', 'wb') as f:
    pickle.dump(review_reconstruct, f)

In [30]:
with open('./Yelp/review.pickle', 'wb') as f:
    pickle.dump(review, f)

## Pytorch로 train, test나누기

In [1]:
import pickle 
with open('./Yelp/map_item_dict.pickle', 'rb') as f:
    map_item_dict = pickle.load(f)
with open('./Yelp/map_user_dict.pickle', 'rb') as f:
    map_user_dict = pickle.load(f)
with open('./Yelp/review_reconstruct.pickle', 'rb') as f:
    review_reconstruct = pickle.load(f)

In [25]:
import torch
review_reconstruct = torch.LongTensor(review_reconstruct).cuda()

TypeError: expected CPU (got CUDA)

In [48]:
a = torch.tensor([3])

## Train, Test Set 나누기, Cold Start, Regular Start User수 파악

In [50]:
from timeit import default_timer as timer
from math import floor
import random
interaction = []
train_set = {}
test_set = {}
exclude_case = {}
start = timer()
n_train = 0
n_test = 0
cold_start_user = 0
regular_start_user = 0
total_item = set()
map_dict = sorted(map_user_dict.values())
map_dict = torch.LongTensor(map_dict).cuda()
for user_id in map_dict:
    match = review_reconstruct[review_reconstruct[:,0] == user_id]
    match = match[:,1]
    user_id = user_id.item()
    if match.shape[0]>1:
        match = list(match.cpu().numpy())
        if len(match) >=10:
            regular_start_user+=1
        else:
            cold_start_user+=1
        train_length = floor(len(match)*0.8)
        train_set[user_id] = random.sample(match, train_length)
        test_case = set(match) - set(train_set[user_id])
        test_set[user_id] = list(test_case)
        n_train += len(train_set[user_id])
        n_test += len(test_set[user_id])
        total_item.update(match)
    else:
        exclude_case[user_id] = match
print("End Time : {:4f}".format(timer()-start))

End Time : 598.262447

In [51]:
print("User의 수 : ", len(train_set.keys()))
print("Train 의 수 : ", n_train)
print("Test의 수 : ", n_test)
print("Train과 Test에서의 Item : ", len(total_item))
print("Cold Start User의 수 : ", cold_start_user)
print("Regular User의 수 : ", regular_start_user)

User의 수 :  1015773
Train 의 수 :  5518414
Test의 수 :  1818449
Train과 Test에서의 Item :  160437
Cold Start User의 수 :  860239
Regular User의 수 :  155534

In [52]:
with open('./Yelp/train.txt', 'w') as output:
    for k, v in train_set.items():
        temp_list = [k]+v
        output.write(" ".join(map(str, temp_list)))
        output.write('\n')
with open('./Yelp/test.txt', 'w') as output:
    for k, v in test_set.items():
        temp_list = [k]+v
        output.write(" ".join(map(str, temp_list)))
        output.write('\n')

In [ ]:
category_set = set()
for index, value in item.iterrows():
    if value['categories'] is not None:
        category_set.update(value['categories'].split(','))